*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* css vars */
:root {
  --accordion-original-width: calc(100% / 7);
  --accordion-zoomin-width: 50%;
}
/* css vars */
.aAccordion{
    flex-wrap: nowrap;
    overflow: hidden;
}
#world{
    width: 50%;
    margin: 0 auto;
    height: 100vh;
}
.aa-item{
    width: var(--accordion-original-width);
    height: 20vh;
    animation: zoomOut 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background-color: #efefef;
    border-left: 1px solid #ccc;
}
.aa-item:hover{
    animation: zoomIn 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes zoomIn {
    0% {
        width: var(--accordion-original-width);
        font-size: var(--accordion-original-font-size);
    }
    100% {
        width: var(--accordion-zoomin-width);
        font-size: var(--accordion-zoomin-font-size);
    }
}
@keyframes zoomOut {
    0% {
        width: var(--accordion-zoomin-width);
        font-size: var(--accordion-zoomin-font-size);
    }
    100% {
        width: var(--accordion-original-width);
        font-size: var(--accordion-original-font-size);
    }
}
